* text=auto
*.R text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.csv text eol=lf
*.ps1 text eol=crlf
*.png binary
*.rds binary
*.pdf binary
*.dat -text
inst/extdata/poland/*.csv -text
*.py text eol=lf
inst/extdata/poland/*.csv whitespace=cr-at-eol
